.Logo{
  display: flex;
  align-items: center;
  margin-right: 10rem;
}
.Logo img{
  cursor: pointer;
  height: 3rem;
}
.Text{
  color: black;
  font-weight: 900;
}
@media(max-width:620){
  .Logo{
  }
}