.CartDisplay .cartItem {
  display:flex;
}
.CartDisplay{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
  border: 1px solid #1e6cfe;
  border-radius: 1rem;
  color: white;
  margin: 0 1rem;
  padding: 0 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
 button:not(:disabled):hover {
  background-color: #1e6cfe;
}     
button:focus {
  outline: none;
}
button:disabled {
  opacity: .5;
}
