.Toolbar {
  color: #2b2b2d;
  background: #FFF;
  width: 200px;
  max-width: 144px;
  height: 100%;
  float: left;
  position: fixed;
  z-index: 1000;
  display: block;
  -webkit-transition: margin 2s;
  transition: margin 2s;
flex:1;
}
.Toolbar ul li{
  list-style-type: none;
}
#Toolbar-toggle {
  cursor: pointer;
}
#toggleView {
  margin-left: 44px;
}
.menu-icon {
  float: right;
}
.container {
  display: block;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container li a {
  padding-left: 10px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  float: left;
  text-decoration: none;
  width: 300px;
  height: 24px;
  line-height: 24px;
  padding: 20px;
  vertical-align: center;
}
.сщтефштук li a:hover {
  background:rgb(203, 199, 199);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}