.CategoryItem img {
  width: 270px;
  object-position: center;
height: 250px;
  border-radius: 2rem;
  margin-top: 1rem;
}
.CategoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
    margin-bottom: 5rem;
  margin-top: 1rem;
  width: 350px;
  height: 400px;
  /* margin-right: 1rem;
  margin-left: 1rem; */
  background-color: white;
}

.CategoryItem a {
  /* position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 1; */
  
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  width: 150px;
  margin-top: 1rem;
  padding: .8rem 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
}