.Footer {
  text-align: center;
  color: #000;
  width: 100%;
  height: 100px;
  margin-top: 7rem;
}
/* .Footer ul{
 padding-top: 10rem;
}
.Footer ul a {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}  */
.Footer p{
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 15px;
} 