.Nav .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  z-index: 5;
}

.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.Nav ul li{
  list-style-type: none;
}
.logo{
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 620px) {
  .Nav {
    flex-direction: column;
    margin: 1rem 0;
  }
}
